.header {
  background-color:transparent;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 50px;
  font-family: "Times New Roman", Times, serif;
  margin-top: 50px;
}
.header .logo {
  display: flex;
}
.header .logo img {
  width: 200px;
  height: 70px;
}

.header .links a {
  margin: 15px;
  text-decoration: none;
  color: white;
  font-size: 1.3rem;
  font-weight: 700;
}

.links a:hover{
    color: rgb(231, 184, 63);
}

.header .quote button {
    background-color: black;
  color: rgb(231, 184, 63);
  width: 120px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  border: none;
  display: flex;
    justify-content: center;
    align-items: center;
}
.header .quote button span{
    z-index: 2;
    position:absolute;
}
.header .quote button::before,
.header .quote button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 50%;
  left: 0;
  transition: 0.5s;
  transition-timing-function: ease-in-out;
}
.header .quote button::after {
  background-color: rgb(72, 72, 72);

  top: 0;
}

.header .quote button::before {
  background-color: rgb(72, 72, 72);

  bottom: 0;
}

.header .quote button:hover::before {
  transform: translateY(50px);
}
.header .quote button:hover::after {
  transform: translateY(-50px);
}
.header .sideNav .list{
    width: 40px;
    display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;}


      .header .sideNav .list span {
        background-color: #ffffff;
        margin-bottom: 6px;
        height: 2.3px;
        transition: .5s;
        transition-timing-function: ease-in-out;
      }
      .header .sideNav .list span:first-child {
        width: 70%;
      }
      .header .sideNav .list span:nth-child(2) {
        width: 100%;
      }
      .header .sideNav .list span:last-child {
        width: 70%;
      }
    
      .header .sideNav .list:hover span{
background-color: rgba(255, 0, 0, 0.514);
      }