.content{
    width:100%;
    height:100%;
}

.content .img_txt{
display: flex;
justify-content: center;
align-items: center;
}

.img_txt img{
    width:550px;
    height:480px;
    border-right: 4px solid rgb(255, 255, 255);
    margin-top: 50px;
    margin-left: 50px;
    transform: translateX(20px);
    z-index: 3;
}

.img_txt .img_info{
    background-color: rgb(229, 190, 114);
    width:500px;
    height: 550px;
    margin-top: -50px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img_info h1{
    width: 300px;
    font-weight: bold;
    font-size: 2.5rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.img_info p{
    width: 370px;
    font-weight: normal;
    font-size: 1.2rem;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.img_info button{
    background-color: black;
  color: white;
  border: 2px solid white;
  width: 200px;
  height: 50px;
  font-size: 1rem;
  font-weight: 600;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img_info button span {
    z-index: 2;
    position: absolute;
  }
  .img_info button::before,
  .img_info button::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 50%;
    left: 0;
    transition: 0.5s;
    transition-timing-function: ease-in-out;
  }
  .img_info button::after {
    background-color: rgb(229, 190, 114);
  
    top: 0;
  }
  
  .img_info button::before {
    background-color: rgb(229, 190, 114);
  
    bottom: 0;
  }
  
  .img_info button:hover::before {
    transform: translateY(50px);
  }
  .img_info button:hover::after {
    transform: translateY(-50px);
  }

  .content .stat{
    background-image: url('../imgs/cube.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    width:80%;
    height: 200px;
    margin-top:-20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 20px;
  }
  .stat::after{
    content: "";
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left: 0;
    background-color: rgba(184, 184, 184, 0.466);
  }
  .stat .stat_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 2;

  }
  .stat_info .txt {
    font-size: 1.1rem;
    font-weight: bold;
  }
  .stat_info .num{
    font-size: 3.5rem;
    font-weight: bold;
  }